{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="margin: 20px 0;">
                <h5 class="about-title" style="font-size: 2rem; color: #343a40;">About</h5>
                <p class="about-description" style="font-size: 1.2rem; color: #343a40;">
                    Nigahibook is a fun social networking platform where you can connect with friends and meet new people. Share your thoughts, join discussions, and discover common interests. Whether you're looking for advice or just want to chat, Nigahibook is the perfect place to express yourself and make new connections. Join us today and start your journey!
                </p>
            </div>    
        </div>       
    </div>
{% endblock %}
